{% extends "padre.html" %}

{% block titulo %}
    entregas
{% endblock %}

{% block parrafo %}

    <p>Este es el contenido de la página entregables</p>
    {% for entregable in entregables %}
        <div>
            <h5>{{ entregable.nombre }} - - - {{entregable.fecha_entrega}} - - - {{entregable.descripcion}}</h5> 
        </div>
    {% empty %}
        <p>No hay entregables disponibles.</p>
    {% endfor %}

    <p></p><input type="button" value="Agregar entrega" onclick="location.href='{% url 'crear entrega' %}'">

{% endblock %}

{% block barra %}
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">inicio</a>
        <a class="navbar-brand" href="{% url 'ver cursos' %}">Cursos</a>
        <a class="navbar-brand" href="{% url 'ver entregables' %}">Entregas</a>
        <a class="navbar-brand" href="{% url 'ver estudiantes' %}">Estudiantes</a>
        <a class="navbar-brand" href="{% url 'ver profesores' %}">Profesores</a>


        <a class="btn btn-primary" href="#signup">Registrarse</a>
    </div>
{% endblock%}
